/*================ The following are dependencies of csswizardry grid ================*/
/*============================================================================
  #General Variables
==============================================================================*/
/*============================================================================
  #Normalize
==============================================================================*/
*, input, :before, :after {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*============================================================================
  #Basic Styles
==============================================================================*/
[tabindex='-1']:focus {
  outline: none; }

/*============================================================================
  #Helper Classes
==============================================================================*/
.display-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.display-table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

/*================ Use em() Sass function to declare font-size ================*/
p {
  margin: 0 0 15px 0; }
  p img {
    margin: 0; }

em {
  font-style: italic; }

b, strong {
  font-weight: bold; }

small {
  font-size: 0.9em; }

sup, sub {
  position: relative;
  font-size: 60%;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.5em; }

/*================ Blockquotes ================*/
blockquote {
  font-size: 1.125em;
  line-height: 1.45;
  font-style: italic;
  margin: 0 0 30px;
  padding: 15px 30px;
  border-left: 1px solid #e5e5e5; }
  blockquote p {
    margin-bottom: 0; }
    blockquote p + cite {
      margin-top: 15px; }
  blockquote cite {
    display: block;
    font-size: 0.75em; }
    blockquote cite:before {
      content: '\2014 \0020'; }

/*================ Code ================*/
code, pre {
  background-color: #faf7f5;
  font-family: Consolas,monospace;
  font-size: 1em;
  border: 0 none;
  padding: 0 2px;
  color: #51ab62; }

pre {
  overflow: auto;
  padding: 15px;
  margin: 0 0 30px; }

/*================ Horizontal Rules ================*/
hr {
  clear: both;
  border-top: solid #e5e5e5;
  border-width: 1px 0 0;
  margin: 30px 0;
  height: 0; }
  hr.hr--small {
    margin: 15px 0; }
  hr.hr--clear {
    border-top-color: transparent; }

/*============================================================================
  #Rich Text Editor
==============================================================================*/
.rte {
  margin-bottom: 15px; }
  .rte a {
    text-decoration: underline; }
  .rte h1, .rte h2, .rte h3, .rte h4, .rte h5, .rte h6 {
    margin-top: 2em; }
    .rte h1:first-child, .rte h2:first-child, .rte h3:first-child, .rte h4:first-child, .rte h5:first-child, .rte h6:first-child {
      margin-top: 0; }
    .rte h1 a, .rte h2 a, .rte h3 a, .rte h4 a, .rte h5 a, .rte h6 a {
      text-decoration: none; }
  .rte > div {
    margin-bottom: 15px; }
  .rte li {
    margin-bottom: 0.4em; }

.rte--header {
  margin-bottom: 0; }

/*============================================================================
  #Links and Buttons
==============================================================================*/
/* a,
.text-link {
  color: $colorLink;
  text-decoration: none;
  background: transparent;
}

a:hover,
a:focus {
  color: $colorLinkHover;
} */
button {
  overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

.btn,
.rte .btn {
  display: inline-block;
  padding: 8px 10px;
  width: auto;
  margin: 0;
  line-height: 1.42;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
  /*================ Set primary button colors - can override later ================*/
  background-color: #d3122a;
  color: white; }
  .btn:hover,
  .rte .btn:hover {
    background-color: #a40e21;
    color: white; }
  .btn:active, .btn:focus,
  .rte .btn:active,
  .rte .btn:focus {
    background-color: #750a17;
    color: white; }
  .btn[disabled], .btn.disabled,
  .rte .btn[disabled],
  .rte .btn.disabled {
    cursor: default;
    color: #b6b6b6;
    background-color: #f6f6f6; }

/*============================================================================
  #Lists
==============================================================================*/
ul, ol {
  margin: 0;
  padding: 0; }

ol {
  list-style: decimal; }

ul ul, ul ol,
ol ol, ol ul {
  margin: 0; }

li {
  margin-bottom: 0.25em; }

ul.square {
  list-style: square outside; }

ul.disc {
  list-style: disc outside; }

ol.alpha {
  list-style: lower-alpha outside; }

.no-bullets {
  list-style: none outside;
  margin-left: 0; }

.inline-list {
  margin-left: 0; }
  .inline-list li {
    display: inline-block;
    margin-bottom: 0; }

/*============================================================================
  #Tables
==============================================================================*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

table.full {
  width: 100%;
  margin-bottom: 1em; }

.table-wrap {
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

th {
  font-weight: bold; }

th, td {
  text-align: left;
  padding: 15px;
  border: 1px solid #e5e5e5; }

/*============================================================================
  #Images and Iframes
==============================================================================*/
img {
  border: 0 none; }

svg:not(:root) {
  overflow: hidden; }

img,
iframe {
  max-width: 100%; }

/*============================================================================
  #Forms
==============================================================================*/
form {
  margin-bottom: 0; }

.form-vertical {
  margin-bottom: 15px; }

input,
textarea,
button,
select {
  padding: 0;
  margin: 0; }

button {
  background: none;
  border: none;
  cursor: pointer; }

button,
input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none; }

button {
  background: none;
  border: none;
  display: inline-block;
  cursor: pointer; }

input[type="image"] {
  padding-left: 0;
  padding-right: 0; }

fieldset {
  border: 1px solid #e5e5e5;
  padding: 15px; }

legend {
  border: 0;
  padding: 0; }

button,
input[type="submit"] {
  cursor: pointer; }

input,
textarea,
select {
  border: 1px solid #e5e5e5;
  max-width: 100%;
  padding: 8px 10px;
  border-radius: 3px; }
  input:focus,
  textarea:focus,
  select:focus {
    border: 1px solid #cccccc; }
  input.input-full,
  textarea.input-full,
  select.input-full {
    width: 100%; }

textarea {
  min-height: 100px; }

/*================ Input element overrides ================*/
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0;
  width: auto; }

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox; }

input[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio; }

input[type="image"] {
  padding-left: 0;
  padding-right: 0; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: right center;
  background-image: url("ico-selectde0d.svg?v=354012039368648229");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-color: transparent;
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  /*================ Hide the svg arrow in IE9 and below ================*/ }
  .ie9 select, .lt-ie9 select {
    padding-right: 10px;
    background-image: none; }

optgroup {
  font-weight: bold; }

option {
  color: #000;
  background-color: #fff; }

select::-ms-expand {
  display: none; }

/*================ Error styles ================*/
input.error,
select.error,
textarea.error {
  border-color: #d02e2e;
  background-color: #fff6f6;
  color: #d02e2e; }

label.error {
  color: #d02e2e; }

/*============================================================================
  #Pagination
==============================================================================*/
.pagination {
  margin-bottom: 1em;
  text-align: center; }
  .pagination > span {
    display: inline-block;
    line-height: 1; }
  .pagination a {
    display: block; }
  .pagination a,
  .pagination .page.current {
    padding: 8px; }

#PageContainer {
  overflow: hidden; }

/*============================================================================
  #Notes and Form Feedback
==============================================================================*/
.note,
.errors {
  border-radius: 3px;
  padding: 6px 12px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  font-size: 0.9em;
  text-align: left; }
  .note ul,
  .note ol,
  .errors ul,
  .errors ol {
    margin-top: 0;
    margin-bottom: 0; }
  .note li:last-child,
  .errors li:last-child {
    margin-bottom: 0; }
  .note p,
  .errors p {
    margin-bottom: 0; }

.note {
  border-color: #e5e5e5; }

.errors ul {
  list-style: disc outside;
  margin-left: 20px; }

.form-success {
  color: #56ad6a;
  background-color: #ecfef0;
  border-color: #56ad6a; }
  .form-success a {
    color: #56ad6a;
    text-decoration: underline; }
    .form-success a:hover {
      text-decoration: none; }

.form-error,
.errors {
  color: #d02e2e;
  background-color: #fff6f6;
  border-color: #d02e2e; }
  .form-error a,
  .errors a {
    color: #d02e2e;
    text-decoration: underline; }
    .form-error a:hover,
    .errors a:hover {
      text-decoration: none; }

.no-gutters {
  margin-left: 0;
  margin-right: 0; }
  .no-gutters > .col, .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
    margin: 0; }

/* Lazload Image */
.lazyload,
.lazyloading {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms; }
