<div class="col-6 col-sm-6 col-lg-3 col-md-4 col-sm-6 mb-45">

    <div class="single-product  18938772127808   sold_out_prod  ">
        <div class="single-product__image">
            <!-- Product Image Lazyload with Retina  -->
            <a class="image-wrap" href="../products/dummy-product-name-2.html">

                <style>
                    #Image-9802874781760-0 {
                        max-width: 600.0px;
                        max-height: 800px;
                    }
                </style><img id="Image-9802874781760-0" class="responsive-image__image lazyload popup_cart_image"
                    src="http://cdn.shopify.com/s/files/1/0132/3116/1408/t/40/assets/ajax_loader.svg10940409207306785910"
                    data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f19_{width}x..jpg"
                    data-widths="[180,360,540,720,810]" data-aspectratio="0.75" data-sizes="auto" tabindex="-1"
                    alt="Denim Jacket">
                <noscript>
                    <img class="popup_cart_image" src="../frontend/frontend_trangchinh/images/f19_2048x2048bdbe..jpg"
                        alt="Denim Jacket">
                </noscript>

                <style>
                    #Image-9802875043904-0 {
                        max-width: 600.0px;
                        max-height: 800px;
                    }
                </style><img id="Image-9802875043904-0"
                    class="responsive-image__image lazyload popup_cart_image secondary__img"
                    src="http://cdn.shopify.com/s/files/1/0132/3116/1408/t/40/assets/ajax_loader.svg10940409207306785910"
                    data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f20_{width}x.jpg1551239711"
                    data-widths="[180,360,540,720,810]" data-aspectratio="0.75" data-sizes="auto" tabindex="-1"
                    alt="Denim Jacket">
                <noscript>
                    <img class="popup_cart_image secondary__img"
                        src="../frontend/frontend_trangchinh/images/f20_2048x2048c885.jpg" alt="Denim Jacket">
                </noscript>
            </a>
            <div class="single-product__floating-badges">
                <span class="soldout-title">Soldout</span>
            </div>

            <div class="single-product__floating-icons"><span class="wishlist_inner">
                    <a class="wishlist" href="../account/login.html" data-tippy-content="Add To Wishlist"
                        data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
                        data-tippy-arrow="true" data-tippy-theme="sharpborder" data-tippy-placement="left">
                        <i class="ion-android-favorite-outline"></i>
                    </a>


                </span><span class="compare"><a href="#" data-tippy-content="Compare" data-tippy-inertia="true"
                        data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                        data-tippy-theme="sharpborder" data-tippy-placement="left" class="compare"
                        data-pid="dummy-product-name-2"><i class="ion-ios-shuffle-strong"></i></a> </span><span
                    class="quickview">
                    <a data-toggle="modal" data-target="#quickViewModal" href="javascript:void(0);"
                        onclick="quiqview('dummy-product-name-2')" data-tippy-content="Quick View"
                        data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50"
                        data-tippy-arrow="true" data-tippy-theme="sharpborder" data-tippy-placement="left"><i
                            class="ion-ios-search-strong"></i></a></span></div>

            <div class="single-product__variations d-none d-lg-block">
                <div class="size-container ">











                    <span>
                        x
                    </span>




























                    <span>
                        l
                    </span>




























                    <span>
                        m
                    </span>




























                    <span>
                        xl
                    </span>




























                    <span>
                        s
                    </span>




























                    <span>
                        xxl
                    </span>




























                    <span>
                        xxxl
                    </span>



























                </div>

                <div class="color-container">
                    <ul class="grid-color-swatch ">












                        <li class="img_variant">



                            <div class="variant_img">
                                <a data-tippy-content="
        black
        " data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder"
                                    href="../frontend/frontend_trangchinh/images/f19_600x800_crop_bottombdbe.jpg"><img
                                        class="lazyload"
                                        data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f19_icon_crop_center..jpg"
                                        alt=""></a>
                            </div>

                        </li>











                        <li class="img_variant">



                            <div class="variant_img">
                                <a data-tippy-content="
        blue
        " data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder"
                                    href="../frontend/frontend_trangchinh/images/f20_600x800_crop_bottomc885.jpg"><img
                                        class="lazyload"
                                        data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f20_icon_crop_center.jpg1551239711"
                                        alt=""></a>
                            </div>

                        </li>











                        <li class="img_variant">



                            <div class="variant_img">
                                <a data-tippy-content="
        white
        " data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder"
                                    href="../frontend/frontend_trangchinh/images/f30_600x800_crop_bottom13d8.jpg"><img
                                        class="lazyload"
                                        data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f30_icon_crop_center.jpg"
                                        alt=""></a>
                            </div>

                        </li>











                        <li class="img_variant">



                            <div class="variant_img">
                                <a data-tippy-content="
        green
        " data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder"
                                    href="../frontend/frontend_trangchinh/images/f31_600x800_crop_bottomb40d.jpg"><img
                                        class="lazyload"
                                        data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f31_icon_crop_center.jpg"
                                        alt=""></a>
                            </div>

                        </li>











                        <li class="img_variant">



                            <div class="variant_img">
                                <a data-tippy-content="
        red
        " data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder"
                                    href="../frontend/frontend_trangchinh/images/f41_600x800_crop_bottom1bf1.jpg"><img
                                        class="lazyload"
                                        data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f41_icon_crop_center.jpg"
                                        alt=""></a>
                            </div>

                        </li>

































































































































                    </ul>
                </div>

            </div>



        </div>
        <div class="single-product__content ">
            <div class="title">
                <h3 class="popup_cart_title"> <a href="../products/dummy-product-name-2.html">Denim Jacket</a></h3>
                <div class="product-cart-action">
                    <button class="cart-disable">
                        <span class="cart-text">Soldout</span>
                    </button>
                </div>
            </div>
            <div>
                <div class="price">
                    <span id="product_current_price" class="discounted-price"><span class=money>$19.00</span></span>

                    <span class="main-price discounted "><span class=money>$29.00</span></span>

                </div>
            </div>


            <div class="single-product__variations mobile__view d-lg-none">
                <div class="size-container ">











                    <span>
                        x
                    </span>




























                    <span>
                        l
                    </span>




























                    <span>
                        m
                    </span>




























                    <span>
                        xl
                    </span>




























                    <span>
                        s
                    </span>




























                    <span>
                        xxl
                    </span>




























                    <span>
                        xxxl
                    </span>



























                </div>

                <div class="color-container">
                    <ul class="grid-color-swatch ">












                        <li class="img_variant">



                            <div class="variant_img">
                                <a data-tippy-content="
        black
        " data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder"
                                    href="../frontend/frontend_trangchinh/images/f19_600x800_crop_bottombdbe.jpg"><img
                                        class="lazyload"
                                        data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f19_icon_crop_center..jpg"
                                        alt=""></a>
                            </div>

                        </li>











                        <li class="img_variant">



                            <div class="variant_img">
                                <a data-tippy-content="
        blue
        " data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder"
                                    href="../frontend/frontend_trangchinh/images/f20_600x800_crop_bottomc885.jpg"><img
                                        class="lazyload"
                                        data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f20_icon_crop_center.jpg1551239711"
                                        alt=""></a>
                            </div>

                        </li>











                        <li class="img_variant">



                            <div class="variant_img">
                                <a data-tippy-content="
        white
        " data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder"
                                    href="../frontend/frontend_trangchinh/images/f30_600x800_crop_bottom13d8.jpg"><img
                                        class="lazyload"
                                        data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f30_icon_crop_center.jpg"
                                        alt=""></a>
                            </div>

                        </li>











                        <li class="img_variant">



                            <div class="variant_img">
                                <a data-tippy-content="
        green
        " data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder"
                                    href="../frontend/frontend_trangchinh/images/f31_600x800_crop_bottomb40d.jpg"><img
                                        class="lazyload"
                                        data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f31_icon_crop_center.jpg"
                                        alt=""></a>
                            </div>

                        </li>











                        <li class="img_variant">



                            <div class="variant_img">
                                <a data-tippy-content="
        red
        " data-tippy-inertia="true" data-tippy-animation="shift-away" data-tippy-delay="50" data-tippy-arrow="true"
                                    data-tippy-theme="sharpborder"
                                    href="../frontend/frontend_trangchinh/images/f41_600x800_crop_bottom1bf1.jpg"><img
                                        class="lazyload"
                                        data-src="//cdn.shopify.com/s/files/1/0132/3116/1408/products/f41_icon_crop_center.jpg"
                                        alt=""></a>
                            </div>

                        </li>

































































































































                    </ul>
                </div>

            </div>


            <div class="product-description">
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga.</p>

            </div>
        </div>

        <!--=======  End of single product content  =======-->
    </div>
</div>